@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, rgb(212, 180, 241), rgb(158, 80, 231), blueviolet);
}

header h1 {
    color: white;
    text-align: center;
    padding: 50px;
}

header h1 img {
    width: 25px;
}

main {
   display: flex;
   justify-content: center;
   gap: 10px;
}

main input {
    background-color: white;
    height: 35px;
    width: 500px;
    border: 0px;
    border-radius: 5px;
}

main button {
    background-color: white;
    cursor: pointer;
    color: blueviolet;
    border-radius: 5px;
    height: 35px;
    width: 90px;
    border: 0px;
}

main button:hover {
    background-color: blueviolet;
    color: white;
}

footer {
    padding-top: 300px;
    text-align: center;
}

footer a {
    color: rgb(15, 15, 15);
    text-decoration: none;
}